/*
Forma como os cõdigos CSS foram organizados:

Padrão adotado para organizar os elementos dentro de cada container:
FlexBox
Dimensionamento
Posicionamento
Box Model
Texto
Cor
Animações

Paleta de cores usada:
Barra superior e inferior: rgb(52, 52, 52)
Background body: rgb(66, 66, 66)
Palavras com menor destaque e bordas: Gray
Background para destaque: rgb(4, 48, 105)
Sobre o destaque (Quando necessário): rgb(53, 129, 190)
Links: rgb(0, 153, 255)
*/

body{
    margin: 0;
    font-family: Arial, Helvetica, Verdana;
    background-color: rgb(66, 66, 66);
}

/*Início do tratamento da barra de navegação.*/

.containerNavigation{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgb(52, 52, 52);
}

.navigation{
    display: flex;
    flex-direction: row;
    height: 45px;
    width: 1100px;
    margin: auto;
    color: white;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    height: 100%;
    border-radius: 4px;
}

.logo img{
    width: 80%;
    height: 100%;
}

.navBar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 100%;
}

.navBar p{
    margin: 0 15px 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    height: 100%;
}

.search p{
    width: 60%;
    margin: 0;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 5px;
    color: black;
    background-color: white;
    font-weight: bold;
    text-align: center;
}

/*Fim do tratamento da barra de navegação.*/

/* Este bloco foi criado apenas para aparar o background da barra de navegação. */
.null{
    width: 100%;
    height: 45px;
}
/**/

/*Início do tratamento do card de apresentação*/

.containerCard{
    width: 1100px;
    height: 500px;
    margin: auto;
}

.card{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-image: url('Imagens/Card/Card.jpg');
    filter: grayscale(0.5);
    color: white;
    transition: 0.7s;
}

.cardContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 420px;
    margin-right: 1%;
    text-align: center;
}

.cardContent::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    border: 1px solid;
    opacity: 0;
    transition: 0.7s;
}

.cardContent h2{
    margin: 0;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.7s;
}

.cardContent p{
    font-size: 0px;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.7s;
}

.card:hover{
    filter: unset;
}

.card:hover > .cardContent::before{
    width: 400px;
    height: 300px;
    opacity: 1;
}

.card:hover > .cardContent p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

/*Fim do tratamento do card de apresentação*/

/*Início do tratamento do banner principal*/
/* 
.containerBannerMain{
    display: flex;
    flex-direction: row;
    width: 1100px;
    height: 500px;
    margin: auto;
}

.bannerMainPost1{
    width: 50%;
    position: relative;
    background-size: cover;
    background-image: url('Imagens/Imagens-Banner-Principal/ransomware.jpg');
}

.bannerMainPost2{
    width: 25%;
    position: relative;
    background-size: cover;
    background-image: url('Imagens/Imagens-Banner-Principal/api-web.jpeg');
}

.bannerMainPost3{
    width: 25%;
    position: relative;
    background-size: cover;
    background-image: url('Imagens/Imagens-Banner-Principal/seguranca-logistica.jpg');
}

.bannerMainDescripition{
    position: absolute;
    top: 87%;
    transform: translate(0, -13%);
    margin: 0 1% 0;
    border-radius: 4px;
}

.containerBannerMain p{
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.7s;
}

.containerBannerMain a:link{
    text-decoration: none;
    color: white;
}

.containerBannerMain a:visited{
    color: white;
}

.containerBannerMain a:hover{
    color: rgb(0, 0, 0);
}

.containerBannerMain a:active{
    color: aqua;
} */

/*Fim do tratamento do banner principal*/

/*Início do tratamento do embrulho*/

.containerWrapper{
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    margin: 15px auto 15px;
}

/*Início do tratamento dos posts*/
.containerWrapperBox1{
    width: 800px;
    margin-right: 20px;
}

.post{
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
    border: solid 1px gray;
    border-radius: 4px;
    padding: 5px;
    color: white;
}

.imgPost{
    width: 320px;
    height: 99%;
    float: left;
    margin-right: 10px;
    border-radius: 4px;
}

.imgPost1{
    background-size: cover;
    background-image: url('Imagens/Imagens-Posts/imgPost1.jpg');
}

.imgPost2{
    background-size: cover;
    background-position: 80%;
    background-image: url('Imagens/Imagens-Posts/imgPost2.jpg');
}

.imgPost3{
    background-size: cover;
    background-position: 80%;
    background-image: url('Imagens/Imagens-Posts/imgPost3.jpeg');
}

.imgPost4{
    background-size: cover;
    background-position: 50%;
    background-image: url('Imagens/Imagens-Posts/imgPost4.jpeg');
}

.imgPost5{
    background-size: cover;
    background-position: 50%;
    background-image: url('Imagens/Imagens-Posts/imgPost5.jpg');
}

.linkReference a:link{
    text-decoration: none;
    color: gray;
}

.linkReference a:visited{
    color: gray;
}

.informations{
    position: relative;
    width: 450px;
    height: 300px;
    float: right;
}

.informations h4{
    margin: 0;
    margin: 5px 0 5px;
    text-transform: uppercase;
    color: gray;
}

.informations h2{
    margin: 0;
    margin-bottom: 5px;
}

.informations cite{
    margin: 0;
    margin-bottom: 5px;
    color: gray;
}

.descriptionPost{
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -40%);
    padding: 5px;
}

.descriptionPost p{
    margin: 0;
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
}

.readMore{
    width: 130px;
    position: absolute;
    top: 90%;
    transform: translate(0%, -10%);
    margin: 0;
    border: solid 1px gray;
    border-radius: 54px;
    padding: 5px;
    background-color: rgb(4, 48, 105);
    transition: all 0.7s;
}

.readMore p{
    margin: 0;
    text-align: center;
    transition: all 0.7s;
}

.readMore a:link{
    text-decoration: none;
    color: white;
}

.readMore a:visited{
    color: white;
}

.readMore a:hover{
    color: rgb(0, 153, 255);
}

/*Fim do tratamento dos posts*/

/*Início do tratamento do newsletter*/

.containerWrapperBox2{
    width: 300px;
}

.containerAsideBox1{
    position: relative;
    color: white;
}

.mostPopularPosts{
    width: 100%;
    margin-bottom: 15px;
}

.mostPopularPosts h3{
    margin: 0;
    text-transform: uppercase;
    line-height: 30px;
    border-bottom: 1px solid gray;
}

.popularPostSize{
    width: 100%;
    height: 102px;
    margin-bottom: 5px;
    border: solid 1px gray;
    border-radius: 4px;
}

.popularPostImg1, .popularPostImg2, .popularPostImg3{
    width: 100px;
    height: 100px;
    float: left;
    margin: 1px;
    border-radius: 4px;
}

.popularPostImg1{
    background-image: url('Imagens/Imagens-Posts-Populares/Img1.webp');
    background-size: cover;
    background-position: 50%;
}

.popularPostImg2{
    background-image: url('Imagens/Imagens-Posts-Populares/Img2.webp');
    background-size: cover;
    background-position: 50%;
}

.popularPostImg3{
    background-image: url('Imagens/Imagens-Posts-Populares/Img3.webp');
    background-size: cover;
    background-position: 50%;
}

.popularPostDescription{
    width: 180px;
    float: right;
    transform: translate(0, 3%);
    margin: 5px;
}

.popularPostDescription p{
    margin: 0;
    transition: all 0.7s;
}

.popularPostDescription a:link{
    text-decoration: none;
    color: white;
}

.popularPostDescription a:visited{
    color: white;
}

.popularPostDescription a:hover{
    color: rgb(0, 153, 255);
}

/* ------------------------------------------- */

.containerAsideBox2{
    width: 100%;
    height: 400px;
    position: relative;
    margin: 15px 0 15px;
    border: solid 1px gray;
    border-radius: 10px;
    background-color: rgb(4, 48, 105);
}

.newsLetterBox1{
    width: 150px;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -85%);
    border: 1px solid gray;
    border-radius: 4px;
    color: white;
    background-color: rgb(53, 129, 190);
}

.newsLetterBox2{
    width: 95%;
    position: absolute;
    top: 28%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -72%);
    color: white;
}

.newsLetterBox1 h3, .newsLetterBox2 p{
    margin: 0;
    text-align: center;
}

.newsLetterBox3{
    display: flex;
    flex-flow: row wrap;
    width: 98%;
    height: 70px;
    position: absolute;
    top: 44%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -56%);
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
}

.newsLetterName, .newsLetterEmail{
    width: 66px;
    position: relative;
}

.newsLetterName p, .newsLetterEmail p{
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -40%);
    margin: 0;
    text-align: center;
}

.boxName, .boxEmail{
    width: 220px;
    height: 30px;
    border-bottom: 1px solid;
}

.newsLetterBox4{
    width: 150px;
    position: absolute;
    top: 66%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -44%);
    border: 1px solid gray;
    border-radius: 4px;
    background-color: rgb(53, 129, 190);
}

.newsLetterBox4 h3{
    margin: 0;
    padding: 10px;
    text-align: center;
    transition: all 0.7s;
}

.newsLetterBox4 a:link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.newsLetterBox4 a:visited{
    color: rgb(255, 255, 255);
}

.newsLetterBox4 a:hover{
    color: rgb(0, 153, 255);
}

.newsLetterBox5{
    position: absolute;
    top: 86%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -14%);
}

.newsLetterBox5 p{
    margin: 0;
    text-align: justify;
    margin: 2px;
    color: white;
}

/*Fim do tratamento do newsletter*/

/*Fim do tratamento do embrulho*/

/*Início do tratamento do trocador de páginas*/

.switchPages{
    max-width: 1100px;
    margin: auto;
    margin-bottom: 30px;
}

.switchButtons{
    display: flex;
    width: 176px;
    position: relative;
    border: solid 1px gray;
    border-radius: 4px;
    background-color: rgb(4, 48, 105);
}

.switchButtonFirst{
    width: 35px;
    border-right: solid 1px gray;
    background-color: rgb(53, 129, 190);
}

.switchButtonContent{
    width: 35px;
    border-right: solid 1px gray;
}

.switchButtonLast{
    width: 35px;
}

.switchButtons p{
    margin: 0;
    padding: 5px;
    text-align: center;
    transition: all 0.7s;
}

.switchButtons a:link{
    text-decoration: none;
    color: white;
}

.switchButtons a:visited{
    color: rgb(255, 255, 255);
}

.switchButtons a:hover{
    color: rgb(0, 153, 255);
}

/*Fim do tratamento do trocador de páginas*/

/*Início do tratamento do rodapé principal*/

.containerFooterBack{
    background-color: rgb(52, 52, 52);
}

.containerFooter{
    display: flex;
    flex-direction: row;
    width: 1100px;
    height: 200px;
    margin: auto;
    background-color: rgb(52, 52, 52);
}

.mainFooterBox1, .mainFooterBox2, .mainFooterBox3{
    width: 33.3%;
    margin: 0;
    position: relative;
}

.footerLogo, .footerAddress, .footerAutor{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 5px;
}

.footerLogo img{
    width: 100%;
}

.footerAddress p{
    width: 100%;
    margin: 0;
    text-align: justify;
    color: white;
}

.autor{
    width: 100%;
    color: white;
}

.footerAutor address{
    display: inline;
    transition: all 0.7s;
}

.footerAutor a:link{
    text-decoration: none;
    color: white;
}

.footerAutor a:visited{
    color: white;
}

.footerAutor a:hover{
    color: rgb(0, 153, 255);
}

.footerAutor a:active{
    color: aqua;
}

/*Fim do tratamento do rodapé principal*/


/*Revisar o código abaixo*/

/*Início do tratamento do banner de apresentação.*/
/* 
.bannerAboutUs{
    width: 1100px;
    height: 500px;
    margin: auto;
    justify-content: left;
    align-items: center;
    display: flex;
    background-image: url('Imagens/seguranca-digital.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0.9);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s;
}

.bannerContentAboutUs{
    margin-left: 5%;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.bannerContentAboutUs::before{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.3s;
}

.bannerContentAboutUs h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.bannerContentAboutUs p{
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.bannerAboutUsButton{
    border: 1px solid;
    padding: 5px;
    margin: auto;
    width: 350px;
    border-radius: 10px;
    background-color: #f7cdf5;
}

.bannerAboutUs:hover{
    filter: unset;
}

.bannerAboutUs:hover > .bannerContentAboutUs:before{
    height: 460px;
    width: 500px;
    opacity: 1;
}

.bannerAboutUs:hover > .bannerContentAboutUs p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
*/
/*Fim do tratamento do banner de apresentação.*/