@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

/* Index */

/* Functions */

:root[data-theme="dark"] {
  --mainColor-primary: #100f10;
  --mainColor-secondary: #fafafa;
  --mainColor-tertiary: #043069;
  --contrast-strong: #292929;
  --contrast-medium: #333333;
  --contrast-weak: #535353;
  --webkit-box-shadow: -webkit-box-shadow: 0px 0px 10px 2px #000000;
  --box-shadow: 0px 0px 10px 2px #000000;
  --borderColor: #808080;
  --fontColor-strong: rgba(255, 255, 255, 0.96);
  --fontColor-medium: rgba(255, 255, 255, 0.67);
  --fontColor-weak: rgba(255, 255, 255, 0.45);
  --linkColor-hover: #0099ff;
  --measurementsLarges-large: 4.5rem;
  --measurementsLarges-average: 3.5rem;
  --measurementsLarges-small: 2.5rem;
  --measurementsAverages-large: 1.75rem;
  --measurementsAverages-average: 1.375rem;
  --measurementsAverages-small: 1rem;
  --measurementsSmalls-large: 0.875rem;
  --measurementsSmalls-average: 0.625rem;
  --measurementsSmalls-small: 0.375rem;
  --logo: url('../Imagens/Logo/WCSB.svg');
}

:root[data-theme="light"] {
  --mainColor-primary: #fafafa;
  --mainColor-secondary: #100f10;
  --mainColor-tertiary: #043069;
  --contrast-strong: #CCCCCC;
  --contrast-medium: #DBDBDB;
  --contrast-weak: #EBEBEB;
  --webkit-box-shadow: -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.64);
  --box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.64);
  --borderColor: #000000;
  --fontColor-strong: rgba(0, 0, 0, 0.96);
  --fontColor-medium: rgba(0, 0, 0, 0.67);
  --fontColor-weak: rgba(0, 0, 0, 0.45);
  --linkColor-hover: #0099ff;
  --measurementsLarges-large: 4.5rem;
  --measurementsLarges-average: 3.5rem;
  --measurementsLarges-small: 2.5rem;
  --measurementsAverages-large: 1.75rem;
  --measurementsAverages-average: 1.375rem;
  --measurementsAverages-small: 1rem;
  --measurementsSmalls-large: 0.875rem;
  --measurementsSmalls-average: 0.625rem;
  --measurementsSmalls-small: 0.375rem;
  --logo: url('../Imagens/Logo/WCSW.svg');
}

/* Functions */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar */

/* Works on Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--contrast-strong) var(--contrast-weak);
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--contrast-weak);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--contrast-strong);
  border-radius: 15px;
  border: 1px solid var(--borderColor);
}

/* Scrollbar */

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif, Arial, Helvetica;
  background-color: var(--contrast-medium);
  /* color: var(--mainColor-white); */
}

/* Main Navigation Bar */


.mainHeader {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 10;
  background-color: var(--contrast-strong);
}

.containerNavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 1rem;
}

.navigationBar_logo {
  width: 220px;
  height: 100%;
}

.navigationBar_logo-img {
  background-image: var(--logo);
  background-size: cover;
}

.navigationBar_icone {
  display: none;
  width: 50px;
  height: 50px;
}

.navigationBar_icone-img {
  background-image: url('../Imagens/Icone/icone.svg');
  background-size: cover;
}

.navigationBar_menu {
  display: flex;
  gap: .5rem;
  list-style: none;
}

.navigationBar_btn-mobile {
  display: flex;
  gap: .5rem;
  border: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  background: none;
  color: var(--mainColor-secondary);
  cursor: pointer;
}

.hamburguer {
  width: 20px;
  border-top: 2px solid;
}

.hamburguer::after, .hamburguer::before {
  content: '';
  display: block;
  position: relative;
  width: 20px;
  height: 2px;
  margin-top: 5px;
  background: currentColor;
  transition: .3s;
}

#nav.active .hamburguer {
  border-top-color: transparent;
}

#nav.active .hamburguer::before {
  transform: rotate(135deg);
}

#nav.active .hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}

.navigationBar_menu {
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  top: 70px;
  right: 0;
  background-color: var(--contrast-strong);
  z-index: 9999;
  visibility: hidden;
  overflow-y: hidden;
  transition: 0.7s;
}

#nav.active #menu {
  height: 100vh;
  visibility: visible;
  overflow-y: auto;
}

.navigationBar_menu a,
.navigationBar_menu button {
  display: block;
  padding: 1rem 0;
  margin: 0 1rem;
}

.navigationBar_menu li {
  margin: auto;
  width: 98%;
  border-bottom: 1px solid #808080;
}

.navigationBar_menu a:link {
  text-decoration: none;
  color: var(--mainColor-secondary);
}

.navigationBar_menu a:visited {
  color: var(--mainColor-secondary);
}

.languageSelector{
  list-style: none;
}

.languageSelector li {
  border-top: 1px solid #808080;
  border-bottom: none;
}

/* Main Navigation Bar */

/* This block was created only to fix the background of Navigation Bar */

.null {
  width: 100%;
  height: 70px;
}

/* This block was created only to fix the background of Navigation Bar */

/* Introduction card */

.containerCard {
  width: 1200px;
  height: 500px;
  margin: auto;
}

.card1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  /* -webkit-box-shadow: 0px 0px 10px 2px #000000;  */
  box-shadow: var(--box-shadow);
  background-image: url('../Imagens/Card/Card.svg');
  background-size: 101%;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
  transition: 0.7s;
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 420px;
  margin-right: 1%;
  text-align: center;
}

.card_content::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 4px;
  opacity: 0;
  transition: 0.7s;
}

.card_content h2 {
  margin: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, 0.96);
  transition: 0.7s;
}

.card_content p {
  margin: 10px;
  font-size: 0px;
  visibility: hidden;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.67);
  transition: 0.7s;
}

.card1:hover {
  filter: unset;
}

.card1:hover>.card_content::before {
  width: 400px;
  height: 300px;
  opacity: 1;
}

.card1:hover>.card_content p {
  opacity: 1;
  visibility: visible;
  font-size: 1rem;
}

/* only visible in minor devices */

.card2 {
  display: none;
  width: 98%;
  height: auto;
  margin: auto;
  border-radius: 6px;
  /* -webkit-box-shadow: 0px 0px 10px 2px #000000; */
  box-shadow: var(--box-shadow);
}

/* only visible in minor devices */

/* Introduction card */

/* Main Wrapper */

.containerMainWrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 1200px;
  margin: 15px auto;
}

/* Main Postings */
.containerMainWrapper_box1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 72%;
}

.mainPosts {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  /* -webkit-box-shadow: 0px 0px 10px 2px #000000; */
  box-shadow: var(--box-shadow);
}

.mainPosts_img {
  display: flex;
  justify-content: flex-start;
  width: 40%;
  height: 98%;
  margin: 3px 8px 3px 3px;
  border-radius: 4px;
}

.mainPosts_img-post1 {
  background-size: cover;
  background-image: url('../Imagens/Main-Posts/imgPost1.jpg');
}

.mainPosts_img-post2 {
  background-size: cover;
  background-position: 80%;
  background-image: url('../Imagens/Main-Posts/imgPost2.jpg');
}

.mainPosts_img-post3 {
  background-size: cover;
  background-position: 80%;
  background-image: url('../Imagens/Main-Posts/imgPost3.jpeg');
}

.mainPosts_img-post4 {
  background-size: cover;
  background-position: 50%;
  background-image: url('../Imagens/Main-Posts/imgPost4.jpeg');
}

.mainPosts_img-post5 {
  background-size: cover;
  background-position: 50%;
  background-image: url('../Imagens/Main-Posts/imgPost5.jpg');
}

.mainPosts_informations {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  width: 60%;
  height: 98%;
  margin-right: 8px;
}

.mainPosts_informations h2 {
  margin-top: 5px;
  color: var(--fontColor-strong);
  transition: all 0.7;
}

.mainPost_post-link {
  text-decoration: none;
}

.mainPosts_informations cite {
  color: var(--fontColor-weak);
}

.mainPosts_link-reference a:link {
  text-decoration: none;
  color: var(--fontColor-weak);
}

.mainPosts_link-reference a:visited {
  color: var(--fontColor-weak);
}

.mainPosts_description {
  width: 100%;
  margin: 60px 0 60px;
  text-align: justify;
  text-indent: 30px;
  line-height: 25px;
  color: var(--fontColor-medium);
}

.mainPosts_description a {
  color: var(--fontColor-medium);
  transition: all 0.7s;
}

.mainPosts_description a:link {
  text-decoration: none;
}

.mainPosts_description a:visited {
  color: var(--fontColor-medium);
}

.mainPosts_description a:hover {
  color: var(--linkColor-hover);
}

/* Main Postings */

/* Aside Wrapper (Only visible in large devices)*/

.containerMainWrapper_box2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 28%;
}

.containerMainWrapper_box2-1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.popularPosts {
  width: 100%;
  text-align: center;
}

.popularPosts h3 {
  margin: 0;
  text-transform: uppercase;
  line-height: 1.80rem;
  /* -webkit-box-shadow: 0px 0px 10px 2px #000000; */
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  color: var(--fontColor-strong);
}

.popularPost-size {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  height: 50%;
  /* -webkit-box-shadow: 0px 0px 10px 2px #000000; */
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  background-color: var(--contrast-strong);
}

.popularPost-img {
  display: flex;
  justify-content: flex-start;
  width: 34%;
  height: 100px;
  border-radius: 4px;
}

.popularPost-img1 {
  background-image: url('../Imagens/Popular-Posts/post1/Img1.webp');
  background-size: cover;
  background-position: 50%;
}

.popularPost-img2 {
  background-image: url('../Imagens/Popular-Posts/post2/Img2.webp');
  background-size: cover;
  background-position: 50%;
}

.popularPost-img3 {
  background-image: url('../Imagens/Popular-Posts/post3/Img3.webp');
  background-size: cover;
  background-position: 50%;
}

.popularPost-description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 66%;
}

.popularPost-description p {
  margin: 0;
  transition: all 0.7s;
}

.popularPost-description a:link {
  text-decoration: none;
  color: var(--fontColor-medium);
}

.popularPost-description a:visited {
  color: var(--fontColor-medium);
}

.popularPost-description a:hover {
  color: var(--linkColor-hover);
}

/* ------------------------------------------- */

.containerMainWrapper_box2-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  border-radius: 4px;
  /* -webkit-box-shadow: 0px 0px 10px 2px #000000; */
  box-shadow: var(--box-shadow);
}

.containerMainWrapper_box2-3 {
  width: 50%;
  margin-top: 5px;
  border: 1px solid #808080;
  border-radius: 4px;
  color: var(--fontColor-strong);
  background-color: var(--contrast-weak);
}

.containerMainWrapper_box2-4 {
  width: 100%;
  color: var(--fontColor-medium);
}

.containerMainWrapper_box2-3 h3,
.containerMainWrapper_box2-4 p {
  margin: 0;
  text-align: center;
}

.containerMainWrapper_box2-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 200px;
}

.userData {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60px;
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: var(--contrast-weak);
}

.userName,
.userEmail {
  width: 20%;
  color: var(--fontColor-strong);
}

.userBorder {
  display: flex;
  align-items: center;
  width: 72%;
  border-bottom: 1px solid #808080;
}

.userTip {
  width: 90%;
  background: none;
  border: none;
  color: var(--fontColor-medium);
}

.userBorder i {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 3px;
}

.userButton {
  display: flex;
  justify-content: center;
  width: 150px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: var(--mainColor-tertiary);
}

.userSubmitNews {
  width: 70%;
  border: none;
  background: none;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fafafa;
  cursor: pointer;
}

.containerMainWrapper_box2-6 {
  width: 100%;
}

.containerMainWrapper_box2-6 p {
  text-align: justify;
  margin: 2px;
  color: var(--fontColor-weak);
}

/* ------------------------------------------- */

.securityVideo {
  width: 100%;
  height: 198px;
  margin-bottom: 5px;
  border: none;
  border-radius: 4px;
  /* -webkit-box-shadow: 0px 0px 10px 2px #000000; */
  box-shadow: var(--box-shadow);
}

/* Aside Wrapper (Only visible in large devices)*/

/* Main Postings */

/* Switch Pages */

.containerSwitchPages {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1200px;
  height: 30px;
  margin: auto;
  margin-bottom: 10px;
}

.switchPages_boxes {
  display: flex;
  justify-content: start;
  width: 50%;
  margin: 15px 0 10px;
}

.switchPages_buttons {
  display: flex;
  flex-direction: row;
  width: 176px;
  border-radius: 4px;
  /* -webkit-box-shadow: 0px 0px 10px 2px #000000; */
  box-shadow: var(--box-shadow);
  background-color: var(--contrast-weak);
}

.switchPages_buttons-active {
  border-radius: 4px;
  background-color: var(--mainColor-tertiary);
}

.switchPages_buttons-content {
  width: 35px;
  border-right: solid 1px #808080;
}

.switchPages_buttons-borderless {
  width: 35px;
}

.switchPages_buttons p {
  margin: 0;
  padding: 5px;
  text-align: center;
  color: var(--mainColor-secondary);
  transition: all 0.7s;
}

.backToTop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backToTop p {
  margin: 0;
  border-radius: 4px;
  /* -webkit-box-shadow: 0px 0px 10px 2px #000000; */
  box-shadow: var(--box-shadow);
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-color: var(--mainColor-tertiary);
  transition: all 0.7s;
}

.switchPages_buttons a:link,
.backToTop a:link {
  text-decoration: none;
  color: #fafafa;
}

.switchPages_buttons a:visited,
.backToTop a:visited {
  color: #fafafa;
}

.switchPages_buttons a:hover,
.backToTop a:hover {
  color: var(--linkColor-hover);
}

/* Switch Pages */

/* Main Footer*/

.containerFooterBack {
  width: 100%;
  background-color: var(--contrast-strong);
}

.containerFooter {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 15px;
  width: 1100px;
  height: 200px;
  margin: auto;
}

.mainFooter-box {
  width: 33.3%;
  margin: 0;
}

.mainFooter_logo {
  width: 100%;
  height: 70px;
}

.mainFooter_logo-img {
  background-image: var(--logo);
  background-size: 100%;
  background-repeat: no-repeat;
}

.mainFooter-address p {
  width: 95%;
  margin: auto;
  text-align: justify;
  color: var(--fontColor-strong);
}

.mainFooter-autor {
  width: 95%;
  color: var(--fontColor-strong);
  margin: auto;
}

.mainFooter-autor i {
  transition: all 0.7s;
}

.mainFooter-autor a:link {
  text-decoration: none;
  color: var(--mainColor-secondary);
}

.mainFooter-autor a:visited {
  color: var(--mainColor-secondary);
}

.mainFooter-autor a:hover {
  color: var(--linkColor-hover);
}

/* Main Footer*/

/* Index */

/* Second Page Main Posts */

/* Main Postings */

.mainPosts_img-post6 {
  background-size: cover;
  background-position: 60%;
  background-image: url('../Imagens/Main-Posts/imgPost6.webp');
}

.mainPosts_img-post7 {
  background-size: cover;
  background-image: url('../Imagens/Main-Posts/imgPost7.webp');
}

.mainPosts_img-post8 {
  background-position: 20%;
  background-size: cover;
  background-image: url('../Imagens/Main-Posts/imgPost8.jpg');
}

.mainPosts_img-post9 {
  background-size: cover;
  background-position: 70%;
  background-image: url('../Imagens/Main-Posts/imgPost9.jpg');
}

.mainPosts_img-post10 {
  background-size: cover;
  background-image: url('../Imagens/Main-Posts/imgPost10.jpg');
}

/* Main Postings */

/* Second Page Main Posts */

/* About Us */

.containerAboutUs {
  display: flex;
  width: 1200px;
  margin: auto;
  margin-bottom: 15px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.containerAboutUs ul,
.containerAboutUs ol {
  padding: 18px;
  font-weight: bold;
}

.aboutUs {
  padding: 15px;
  color: var(--fontColor-strong);
}

.aboutUs p {
  margin: 0;
  margin-bottom: 8px;
  line-height: 20px;
}

.aboutUs-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.aboutUs-img img {
  width: 100%;
}

.aboutUs_map {
  display: flex;
  justify-content: center;
  width: 70%;
  height: auto;
  margin: auto;
  margin-bottom: 8px;
}

.aboutUs-emailTo-box {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.aboutUs-emailTo a {
  transition: all 0.7s;
}

.aboutUs-emailTo a:link {
  text-decoration: none;
  color: var(--fontColor-strong);
}

.backToTop a:link {
  text-decoration: none;
  color: #fafafa;
}

.backToTop a:hover,
.aboutUs-emailTo a:hover {
  color: var(--linkColor-hover);
}

/* About Us */

/* Work With Us */

.containerWorkWithUs {
  width: 1100px;
  height: auto;
  margin: 15px auto;
  border: 1px solid #808080;
  border-radius: 4px;
}

.workWithUsRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--fontColor-strong);
}

.workWithUsTitle {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 15%;
  padding: 5px;
}

.formWorkWithUs {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  width: 98%;
  margin: auto;
  margin: 2% 0 2%;
  border: 1px solid #808080;
  border-radius: 4px;
  background-color: var(--contrast-strong);
}

.workWithUsBox1 {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.workWithUsBox2 {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.workWithUsBox3 {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.workWithUsDiv {
  display: flex;
  align-items: center;
  height: 36px;
}

.workWithUsBackGround {
  width: 98%;
  border: 1px solid #808080;
  border-radius: 4px;
  color: var(--fontColor-strong);
  background-color: var(--contrast-weak);
}

.workWithUsBox4 {
  margin: 2% 0 2% 2%;
}

/* Work With Us */

/* Main post - pages */

.containerMainPost {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 72%;
  margin: auto;
  /* -webkit-box-shadow: 0px 0px 10px 2px #000000; */
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  padding: 15px;
  color: var(--fontColor-strong);
}

.containerMainPost h1,
.containerMainPost h2,
.containerMainPost h3,
.containerMainPost h4,
.containerMainPost h5,
.containerMainPost h6 {
  margin: 5px 0;
}

.containerMainPost p {
  font-size: 1rem;
  margin-bottom: 5px;
}

.containerMainPost ul {
  padding: 18px;
}

.containerMainPost figure {
  margin: 15px 0;
}

.containerMainPost img {
  width: 100%;
  border-radius: 4px;
}

.containerMainPost a {
  transition: all 0.7s;
}

.containerMainPost a:link {
  text-decoration: none;
  color: var(--mainColor-secondary);
}

.containerMainPost a:visited {
  color: var(--mainColor-secondary);
}

.containerMainPost a:hover {
  color: var(--linkColor-hover);
}

/* --------------------------- */

.containerSuggestion {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  width: 780px;
  margin: 15px auto;
}

.suggestion {
  display: flex;
  flex-direction: row;
  width: 33%;
  /* -webkit-box-shadow: 0px 0px 10px 2px #000000; */
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}

.suggestion-img {
  display: flex;
  justify-content: flex-start;
  width: 30%;
  padding: 5px;
}

.suggestion-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.suggestion-description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  padding: 5px;
}

.suggestion-description p {
  margin: 0;
  font-size: 1rem;
  transition: all 0.7s;
}

.suggestion-description a:link {
  text-decoration: none;
  color: var(--fontColor-strong);
}

.suggestion-description a:visited {
  color: var(--fontColor-strong);
}

.suggestion-description a:hover {
  color: var(--linkColor-hover);
}

/* Main post - pages */